.card_wrap{
    width : 100%;
}
.card_wrap .card{
    display: inline-block;
    width: 20%;
    height: 550px;
    margin: 20px 28px;
    border : 2px solid #53535e;
    border-radius: 15px;
    text-align: center;
}