.card_wrap{
    margin-top : 20px;
    width : 100%;
}
.card_wrap .card{
    border: 1px solid black;
    display: inline-block;
    width: 23%;
    height: 400px;
    margin: 10px;
    padding : 10px;
    float:left;
}
.card_wrap:after { display: block; content:""; clear:left;}
.card_wrap .card .title {
    font-size: 26px;
    margin-bottom : 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card_wrap .card .desc {
    font-size: 24px;
    margin-bottom : 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card_wrap .card .process {
    font-size: 22px;
    height: 235px;
    display:-webkit-box;
    -webkit-line-clamp:7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card_wrap .card .date {
    font-size: 16px;
    margin-bottom: 10px;
}
.card_wrap .card .likes {
    display:inline-block;
    width: 50px;
    font-size: 16px;
}
.card_wrap .card .poster_id {
    display:inline-block;
    width: 100px;
    font-size: 16px;
    float:right;
    text-align:right;
}