<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>헬스루틴 헬루</title>
    <link rel="stylesheet" type="text/css" href="../static/css/base.css?v=time()">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% block css %}
    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script src="static/js/base.js?v=time()"></script>
    {% block script %}
    {% endblock %}

</head>
<body>
<nav>
    <div class="inner">
        <div class="top_menu">
            <div class="img_box">
                <img src="../static/img/logo.png" style="cursor:pointer;" onclick="location.href=('/');">
            </div>
            <div class="btn">나의 헬루</div>
            <div class="btn">헬루 등록</div>
        </div>
        <div class="search_box">
            <select class="type form-select">
                <option value="title">제목</option>
                <option value="poster_id">작성자</option>
            </select>
            <select class="cate form-select" aria-label="Default select example">
                <option value="all">전체</option>
                <option value="hypertrophy">근비대</option>
                <option value="strength">스트렝스</option>
                <option value="functional">기능성</option>
            </select>
            <input type="text" class="input_text">
            <button type="button" class="btn btn-primary">검색</button>
        </div>
        {% if isLogin == true %}
        <div class="mypage">마이페이지</div>
        <div class="logout">로그아웃</div>
        {% elif isLogin == false %}
        <div class="login_box">
            <div class="btn" onclick="go('/user/login')">로그인</div>
        </div>
        {% endif %}
    </div>
</nav>
{% block contents %}
{% endblock %}
</body>
</html>