{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/health.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
{% endblock %}
{% block script %}
    <script src="../static/js/health.js"></script>
{% endblock %}

{% block contents %}
    <div>
        <h1>{{ health.title }}</h1>
    </div>

    <table class="table is-bordered is-striped">
        <thead>
        <tr>
            <th>Day1</th>
            <th>Day2</th>
            <th>Day3</th>
            <th>Day4</th>
            <th>Day5</th>
            <th>Day6</th>
            <th>Day7</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ health.day1 }}</td>
            <td>{{ health.day2 }}</td>
            <td>{{ health.day3 }}</td>
            <td>{{ health.day4 }}</td>
            <td>{{ health.day5 }}</td>
            <td>{{ health.day6 }}</td>
            <td>{{ health.day7 }}</td>
        </tr>
        </tbody>
    </table>
    <div class="columns">
        <div class="column">
            <h1>운동 프로그램 실행 방법</h1>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            {{ health.process }}
        </div>
    </div>
{% endblock %}