{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/health.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
{% endblock %}
{% block script %}
    <script src="../static/js/health.js"></script>
{% endblock %}

{% block contents %}
    {% if user_sel == "" %}
        <h1>현재 루틴이 없습니다.</h1>
    {% else %}
        <div class="field is-horizontal body-head">
            <div class="field-label is-normal">
                <h1 class="title">{{ health.title }}</h1>
            </div>

            <div>
                {% if health.status == False %}
                    <button class="button" onclick="share('{{ health.post_id }}')">공유하기</button>
                {% else %}
                    <button class="button" onclick="share_cancel('{{ health.post_id }}')">공유취소</button>
                {% endif %}
            </div>
            <div>
                <button class="button" onclick="scrap('{{ health.post_id }}')">스크랩하기</button>
            </div>
            <div>
                <button class="button" onclick="select('{{ health.post_id }}')">선택하기</button>
            </div>
        </div>
        <table class="table is-bordered is-striped" style="border-radius: 5px">
            <thead>
            <tr>
                <th>Day1</th>
                <th>Day2</th>
                <th>Day3</th>
                <th>Day4</th>
                <th>Day5</th>
                <th>Day6</th>
                <th>Day7</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ health.day1 }}</td>
                <td>{{ health.day2 }}</td>
                <td>{{ health.day3 }}</td>
                <td>{{ health.day4 }}</td>
                <td>{{ health.day5 }}</td>
                <td>{{ health.day6 }}</td>
                <td>{{ health.day7 }}</td>
            </tr>
            </tbody>
        </table>
        <div class="field-label is-normal process-title">
            <h1 class="title">{{ health.title }}</h1>
        </div>
        <div class="box process-content">
            {{ health.process }}
        </div>
    {% endif %}
{% endblock %}