{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/mypage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
{% endblock %}
{% block script %}
    <script src="../static/js/mypage.js"></script>
    <script>
        const user_id = 'test'
        $(document).ready(function () {
            $(".tab_title li").click(function () {
                var idx = $(this).index();
                $(".tab_title li").removeClass("tab_on");
                $(".tab_title li").eq(idx).addClass("tab_on");
                $(".tab_cont > div").hide();
                $(".tab_cont > div").eq(idx).show();
            })

            mypage_list();
        });
    </script>

{% endblock %}

{% block contents %}
    <div class="mypage_wrap">
        <div class="mypage_container">
            <div class="mypage_nav">
                <p class="category">Categories</p>
                <ul class="tab_title">
                    <li class="tab_on">내가 등록한 헬루</li>
                    <li onclick="javascript:like_list()">스크랩한 헬루</li>
                </ul>
            </div>
            <div class="mypage_contents">
                <div class="tab_cont">
                    <div class="on" id="mypage-list">
                    </div>
                    <div id="like-list">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}