<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post</title>
</head>
<body>

<div class="wrap">
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">운동 명</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input class="input" type="text" id="title">
                </p>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">운동 설명</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input class="input" type="text" id="desc">
                </p>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">운동 프로그램 실행 방법</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input class="input" type="text" id="process">
                </p>
            </div>
        </div>
    </div>

    <button class="button" onclick="post()">등록하기</button>

    <script src="/static/js/my.js"></script>
</div>

</body>
</html>